body {
  margin: 0px auto;
  text-align: center;
  font-family: "Centaur", "Calibri", "sans-serif";
  background-image: url("../imagenes/fondo.png");
  background-size: 100%;
}

.l_img {
  width: 17%;
  height: 17%;
}

form {
  margin: 0 auto;
  width: 20%;
  height: auto;
  line-height: 25pt;
  text-align: right;
}

button {
  background-color: #008CBA;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
  form {
    width: 75%;
  }

  .l_img {
    width: 18%;
    height: 18%;
  }
}