body{
    margin:0px auto;
    text-align:center;
    font-family: "Centaur", "Calibri", "sans-serif";
    background-image: url("../imagenes/fondo.png");
    background-size: 100%;
  }
.cuadro{
  border: 2px solid rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0.616);
  border-radius: 8px;
  padding: 5px;
  margin: 10% 40% 10% 40%;
}
.l_img{
  width: 9%;
  height: 9%;
}
button {
  background-color: #008CBA;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover{
  color: rgb(0, 0, 0);
}
