body{
  margin:0px auto;
  text-align:center;
  font-family: "Centaur", "Calibri", "sans-serif";
  background-image: url("../imagenes/fondo.png");
  background-size: 100%;
}
.cuadro{
  border: 2px solid rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0.616);
  border-radius: 8px;
  padding: 5px;
  margin: 10% 20% 10% 20%;
}
h1 { 
  font-size:32px; 
  
}
table{
  margin: 0 auto;
  width: 100%;
}

th, td {
  border-color: #020c0c;
  }

tr:nth-child(even) {
  background-color: #7e7d83;
  }

form{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  padding: 5px;
  margin: 0 auto;
  width: 60%;
  height: 60%;
  line-height: 35pt;
  text-align: center;
  }

fieldset{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
}
.b_img{
  width: 5%; 
  height: 5%;
  vertical-align: middle;
  margin:0px 50px;
}
.b_img:hover{
  width: 6%; 
  height: 6%;
  margin:0px 47px;
}
.i_img{
  width: 8%;
  height: 8%;
  position: static;
  margin-left: 85%;
  margin-bottom: -5%;
}

.i_img:hover{
  width: 9%;
  height: 9%;
  margin-bottom: -6%;
}