body{
    margin:0px auto;
    text-align:center;
    font-family: "Centaur", "Calibri", "sans-serif";
    background-size: 100%;
}
table{
    margin: 0 auto;
    width: 100%;
}

th {
    width: 15px;
}

tr:nth-child(even) {
    background-color: #7e7d83;
}
img{
    width: 40%; 
    height: 40%;
}
img:hover{
    width: 32%; 
    height: 32%;
}
dialog::backdrop {
    background: repeating-linear-gradient(
    30deg,
    rgba(24, 194, 236, 0.2),
    rgba(24, 194, 236, 0.2) 1px,
    rgba(24, 194, 236, 0.3) 1px,
    rgba(24, 194, 236, 0.3) 20px);
    backdrop-filter: blur(1px)
  }
button {
    background-color: #008CBA;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover{
    color: rgb(0, 0, 0);
}
.body{
    margin: 0 auto;
    width: 95%;
    height: auto;
    line-height: 25pt;
  }
@media screen and (max-width: 768px) {
    img{
        width: 60%; 
        height: 60%;
    }
    .body{
        width: 95%;
      }
    th {
        width: 40px;
    }
  }