body{
    margin:0px auto;
    text-align:center;
    font-family: "Centaur", "Calibri", "sans-serif";
    background-image: url("../imagenes/fondo.png");
    background-size: 100%;
}
table{
    margin: 0 auto;
    width: 100%;
}

th, td {
    border-color: #020c0c;
}

tr:nth-child(even) {
    background-color: #7e7d83;
}
img{
    width: 60%; 
    height: 60%;
}
img:hover{
    width: 68%; 
    height: 68%;
}
iframe 
{
    display: block; 
    width: 100%; 
    border: none; 
    overflow-y: auto; 
    overflow-x: hidden;
    height:90px;
}
fieldset{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
}
dialog::backdrop {
    background: repeating-linear-gradient(
    30deg,
    rgba(24, 194, 236, 0.2),
    rgba(24, 194, 236, 0.2) 1px,
    rgba(24, 194, 236, 0.3) 1px,
    rgba(24, 194, 236, 0.3) 20px);
    backdrop-filter: blur(1px)
  }
button {
    background-color: #008CBA;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover{
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
    img{
        width: 100%; 
        height: 100%;
    }
  }