body{
  margin:0px auto;
  text-align:center;
  font-family: "Centaur", "Calibri", "sans-serif";
  background-size: 100%;
}
h1 { 
  font-size:32px; 
}
table{
  margin: 0 auto;
  width: 100%;
}
th, td {
  border-color: #020c0c;
  }
tr:nth-child(even) {
  background-color: #7e7d83;
  }
.b_img{
  width: 5%; 
  height: 5%;
  vertical-align: middle;
  margin:0px 50px;
}
.b_img:hover{
  width: 6%; 
  height: 6%;
  margin:0px 47px;
}
.i_img{
  width: 4%;
  height: 4%;
  position: static;
  margin-left: 95%;
  margin-bottom: 0%;
}
.i_img:hover{
  width: 5%;
  height: 5%;
  margin-bottom: -1%;
}
.body{
  margin: 0 auto;
  width: 50%;
  height: auto;
  line-height: 25pt;
}
.table{
  margin: 0 auto;
  width: 98%;
  height: auto;
  line-height: 25pt;
}
@media screen and (max-width: 768px) {
  .body{
    width: 85%;
  }
  .table{
    width: 95%;
  }
  .i_img{
    width: 10%;
    height: 10%;
    position: static;
    margin-left: 85%;
    margin-bottom: 0%;
  }
}