html, body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial;
}
.navbarmenu {
	width: 100%;
	padding: 8px;
	background-color: #1a1a27;
	box-sizing: border-box;
}
.navbarmenu .contenidobarmenu {
	max-width: 1024px;
	display:flex;
	justify-content: space-between;
	margin: 0 auto;
}
.barsmenu ul {
	display: flex;
	align-items: center;
	list-style: none;
	width: 400px;
	justify-content: space-between;
	padding: 0;
	padding-left: 4px;
}
.barsmenu ul li a {
	text-decoration: none;
	color:#a2a3b7;
	transition: 1s;
	text-transform: uppercase;
}
.barsmenu ul li a:hover {
	text-decoration: none;
	color:white;
}
div.titlemenu {
	display: flex;
	align-items: center;
	padding-right: 4px;
}
div.titlemenu a {
	text-decoration: none;
	color: white;
}
div.titlemenu h2{
	padding: 0;
	margin: 0;
}

.bars-button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .8);
	display: none;
	position: fixed;
	z-index: 99;
	left: 7px;
	top: 11px;
	color: #a2a3b7;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
    .navbarmenu .contenidobarmenu {
        justify-content: flex-end;
    }
    .bars-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .barsmenu {
        position: fixed;
        background: rgba(0, 0, 0, 0.918);
        z-index: 98;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        justify-content: center;
        transition: .3s;
    }
    .barsmenu.is-active {
        left: 0;
    }
    .barsmenu ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .barsmenu ul li {
        padding: 5px;
    }
    .barsmenu ul li a {
        color: rgb(255, 255, 255);
        font-weight: 700;
        text-decoration: underline;
    }
    div.titlemenu h2 {
        padding: 10.5px;
    }
    
}