* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
    height: 60px;
    background-color: #008bbaa6;
    text-align: center;
    top: 20%;
  }

  nav ul {
    list-style: none;
    display: inline-block;
    padding: 18px;
  }

  nav ul li {
    float: left;
    margin-top: 20px;
  }

  nav ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
  }

  nav ul li a:hover {
    background-color: #005d7cf8;
    border-radius: 10%;
    color: white;
  }
  div{
    float: right;
  }

