body{
  margin:0 auto;
  text-align:center;
  font-family: "Centaur", "Calibri", "sans-serif";
  background-size: 100%;
}
img{
  width: 8%;
  height: 8%;
}
.imag{
  width: 80%;
  height: 80%;
}
img:hover{
  width: 8.5%;
  height: 8.5%;
}
.body{
  margin: 0 auto;
  width: 60%;
  height: auto;
  line-height: 25pt;
}
.bodydias{
  margin: 0 left;
  width: 20%;
  height: auto;
  line-height: 25pt;
}
.bodyhoras{
  margin: 0 left;
  width: 40%;
  height: auto;
  line-height: 25pt;
}
@media screen and (max-width: 768px) {
  .body{
    width: 90%;
  }
  .bodyhoras{
    width: 60%;
  }
  .bodydias{
    width: 40%;
  }
}