body{
  margin:0 auto;
  text-align:center;
  font-family: "Centaur", "Calibri", "sans-serif";
  background-image: url("../imagenes/fondo.png");
  background-size: 100%;
}
img{
  width: 8%;
  height: 8%;
}
img:hover{
  width: 8.5%;
  height: 8.5%;
}
.cuadro{
  border: 2px solid rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0.616);
  border-radius: 8px;
  padding: 2px;
  margin: 4% 30% 4% 30%;
  
}

form{
  margin: 0 auto;
  width: auto;
  height: 100%;
  line-height: 25pt;
  text-align:right;
  margin-right: 20%;
  margin-left: 20%;
  }
  
.dias{
  text-align:left;
  margin-left: 40%;
}
iframe 
{
  display: block; 
  width: 100%; 
  border: none; 
  overflow-y: auto; 
  overflow-x: hidden;
  height:90px;
}