body{
  margin:0px auto;
  text-align:center;
  font-family: "Centaur", "Calibri", "sans-serif";
  background-image: url("../imagenes/fondo.png");
  background-size: 100%;
}
img{
  width: 4%;
  height: 4%;
}

img:hover{
  width: 4.5%;
  height: 4.5%;
}

form{
  margin: 0 auto;
  width: 30%;
  height: auto;
  line-height: 25pt;
  text-align:right;
  }

@media screen and (max-width: 768px) {
  form{
    width: 85%;
    }
  img{
    width: 8%;
    height: 8%;
  }
  img:hover{
    width: 9%;
    height: 9%;
  }
}