body{
    margin:0px auto;
    text-align:center;
    font-family: "Centaur", "Calibri", "sans-serif";
    background-size: 100%;
}
img{
    width: 8%;
    height: 8%;
}
img:hover{
    width: 8.5%;
    height: 8.5%;
  }

.body{
    margin: 0 auto;
    width: 30%;
    height: auto;
    line-height: 25pt;
  }
@media screen and (max-width: 768px) {
    .body{
        width: 90%;
    }
}